body {
  font-family: "Roboto", sans-serif;
}

.main-contain {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 64px;
  padding: 30px;
}

.mgrid {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
}

.rhs {
  margin-top: 32px;
}

.title-b {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
}

.full-contain .main-contain .rhs .selectable {
  width: 240px;
  object-fit: cover;
  height: 140px;
  cursor: pointer;
  margin-right: 15px;
  position: relative;
  margin-bottom: 15px;
}

.full-contain .main-contain .rhs .selectable img {
  width: 100%;
  height: 100%;
}

.selected-bar {
  border-color: green;
  border-style: solid;
}

.person {
  background-color: transparent;
  z-index: 9999;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}

.background-replacement {
  position: absolute;
  width: 532px;
  height: 400px;
}

.background-replacement img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loading-area {
  position: absolute;
  width: 532px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background: #00000085;
  color: white;
}
